[user]
  name = "Drew Stinnett"
  email = "drew@drewlink.com"
  signingkey = 20549077916C42A58D25C58796978F2168AB5946

[includeIf "gitdir:*oit.duke.edu/"]
  path = .gitconfig-work

[init]
	defaultBranch = main

[alias]
  delete-tag = !sh -c 'git tag -d $1 && git push origin :refs/tags/$1' -
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[pull]
    rebase = false

[interactive]
    diffFilter = delta --color-only --features=interactive

[url "git@github.com:"]
    insteadOf = http://github.com
    insteadOf = https://github.com

[url "git@gitlab.com:"]
    insteadOf = http://gitlab.com
    insteadOf = https://gitlab.com

[url "git@git-internal.oit.duke.edu:"]
    insteadOf = http://git-internal.oit.duke.edu
    insteadOf = https://git-internal.oit.duke.edu
[url "git@gitlab.oit.duke.edu:"]
    insteadOf = http://gitlab.oit.duke.edu
    insteadOf = https://gitlab.oit.duke.edu

[delta]
    features = decorations
    light = true
    theme = "Solarized (light)"

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[commit]
	gpgsign = true
[push]
        autoSetupRemote = true
[core]
	excludesfile = /Users/drews/.gitignore
