[user]
	name = drews@duke.edu
	email = drews@duke.edu
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/drewstinnett/.gitignore
